@page "/BasketView"
@inject BasketService BasketService

@* UI Section*@
<h3>Shopping Basket</h3>

<ShoppingBasketList Items="BasketService.SelectedItems"></ShoppingBasketList>

@* Code Section *@
@code 
{

}
