@page "/Addresses/Index"
@using System.ComponentModel.DataAnnotations;
@inject AddressService addressService
@inject AddressesController controller;

<h1 class="text-center text-info mb-5">Manage Customer Addresses</h1>
@*<p>
    <a class="btn btn-primary" href="Addresses/Create">Add New Address</a>
</p>*@

@*<input type="button" @onclick="AddAddress" class="btn form-control">Add Address</input>*@

<EditForm Model="@address" OnValidSubmit="@AddAddress">

    <h2 class="mb-3">Add New Addresses</h2>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button type="submit" class="btn btn-success">Add New Address</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>House No</th>
                <th>House Name</th>
                <th>Road Name</th>
                <th>Town</th>
                <th>Postcode</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <InputNumber @bind-Value="address.HouseNumber" class="form-control" />
                </td>
                <td>
                    <InputText @bind-Value="address.HouseName" class="form-control" />
                </td>
                <td>
                    <InputText @bind-Value="address.RoadName" class="form-control" />
                </td>
                <td>
                    <InputText @bind-Value="address.PostTown" class="form-control" />
                </td>
                <td>
                    <InputText @bind-Value="address.Postcode" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>
    
</EditForm>

<h2 class="mt-5">Current Address List</h2>

<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <th>House No</th>
            <th>House Name</th>
            <th>Road Name</th>
            <th>Town</th>
            <th>Postcode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Addresses)
        {
            <tr>
                <td>
                    <input @bind="item.HouseNumber" type="number" class="form-control" />
                </td>
                <td>
                    <input @bind="item.HouseName" class="form-control" />
                </td>
                <td>
                    <input @bind="item.RoadName" class="form-control" />
                </td>
                <td>
                    <input @bind="item.PostTown" class="form-control" />
                </td>
                <td>
                    <input @bind="item.Postcode" class="form-control" />
                </td>
                <td>
                    @*<a class="btn btn-success" href="/Addresses/Edit/@item.AddressId">Edit</a>
                    <a class="btn btn-info" href="/Addresses/Details/@item.AddressId">View</a>*@
                    
                    <input type="button" class="btn btn-success"
                        @onclick="(() => UpdateAddress(item))" value="Update" />
                    
                    <input type="button" class="btn btn-danger"
                        @onclick="(() => DeleteAddress(item.AddressId))" value="Delete"/>
                </td>
            </tr>
        }
    </tbody>
</table>


@code
{
    public List<Address> Addresses { get; set; }

    private Address address { get; set; } = new();

    //private AddressesController controller;

    protected override void OnInitialized()
    {
        GetAddresses();
    }

    public void AddAddress()
    {
        addressService.CreateAddress(address);
        GetAddresses();
        this.StateHasChanged();
    }

    public void DeleteAddress(int id)
    {
        addressService.RemoveAddress(id);
        GetAddresses();
        this.StateHasChanged();
    }

    public void GetAddresses()
    {
        //        Addresses = controller.GetAddresses();
        Addresses = addressService.GetAddresses();
    }

    public void UpdateAddress(Address newAddress)
    {
        addressService.UpdateAddress(newAddress);
        GetAddresses();
    }
}